* {
        font-family: 'cookie';
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.cookie-regular {
    font-family: "Cookie", cursive;
    font-weight: 400;
    font-style: normal;
}
  

.hero-image {
    background-image: url("./Images/20240626_111923.jpg");
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 10px, 10px, 10px, 10px;
}
.hero-text {
    color: rgb(255, 255, 255);
    position: absolute;
    text-align: center;
    top: 220px;
    width: 100%;
    font-size: 7rem;
    font-family: "Cookie", cursive;
}
.hero-subtext {
    color: rgb(255, 255, 255);
    position: absolute;
    text-align: center;
    top: 350px;
    width: 100%;
    font-size: 4rem;
    font-family: "Cookie", cursive;
    text-decoration: overline;
}

.two-column {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 50px;
    width: 80%;
    margin: auto;
    margin-top: 40px;
}

.about-heading {
    font-size: 1.5rem;
}
.about-info {
    font-size: 1.25em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.offering {
    padding-left: 20px;
    padding-right: 20px;
}
.offer-heading {
    padding-top: 20px;
    font-size: 1.5rem;
}
.offer-info {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    font-size: 1.25rem;
}
