* {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.hero-image {
    background-image: url("./Images/20240626_111235.jpg");
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-text {
    color: white;
    position: absolute;
    text-align: center;
    top: 250px;
    width: 100%;
    font-size: 5rem;
}

.link-column {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
    width: 80%;
    height: 400px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 50px;
    text-align: center;
}

.link-1card {
    background-image: url("./Images/20240626_102045.jpg");
    max-width: 100%;

}

.link-2card {
    background-image: url("./Images/20240626_104441.jpg");
    max-width: 100%;

}